@model Datos.Venta

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Comprobante | Codea Perú</title>
    <!-- Favicons-->
    <link rel="icon" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/images/favicon/apple-touch-icon-152x152.png">
    <!-- CORE CSS-->
    <link href="~/css/themes/fixed-menu/materialize.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="~/css/themes/fixed-menu/style.css" rel="stylesheet" />
    <link href="~/css/print.css" rel="stylesheet" type="text/css" media="print" />

</head>

<body>
    <div class="container" style="max-width:1000px !important">

        <div class="row section" style="margin-bottom:0px">
            <div class="col s2 m1">
                <img src="../../images/logo/login-logo.png" class="responsive-img" alt="company logo">
            </div>
            <div class="col s7 m8">
                <div>
                    <span class="strong">CLINICA</span>
                    <br />
                    <span>JR. CAHUIDE 206</span>
                    <br />
                    <span>AYACUCHO - HUAMANGA - SAN JUAN BAUSTISTA</span>
                    <br />
                    <span>(066) 636410 - 966900599 - 988063020</span>
                </div>
            </div>
            <div class="col s3" style="border: solid 1px black">
                <div class="flow-text center-align">
                    <span>RUC:20602374692</span><br />
                    <span>BOLETA DE VENTA ELECTRONICO</span>  <br />
                    <span>N° @Model.Serie-@Model.Numero</span>
                </div>
            </div>
        </div>
        <div class="row" style="margin:0px">
            <div class="col s9">
              
                @if (Model.Persona != null)
                {
                    <span class="strong">CLIENTE:  @Model.Persona.NumDocumento @Model.Persona.NombreCompleto</span>
                    <br />
                    <span>DIRECCION:@Model.Persona.Direccion</span>
                }
            </div>
            <div class="col s3 center-align">
                <span class="strong">Fecha Emisión: @Model.Fecha.ToShortDateString()</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col s12 m12 l12">
                <table class="striped bordered">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Descripcion</th>
                            <th style="text-align:right !important">Precio Unitario</th>
                            <th style="text-align:right !important">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VentaDetalle)
                        {
                            <tr >
                                <td style="padding:0;margin:0;text-align:center !important">@item.Cantidad</td>
                                <td style="padding:0;margin:0">@item.Articulo.Nombre</td>
                                <td style="padding:0;margin:0 ;text-align:right !important">@item.Precio</td>
                                <td style="padding:0;margin:0; text-align:right !important">S/ @item.Importe</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2"></td>
                            <td class="strong " style="text-align:right !important">Total</td>
                            <td class="strong " style="text-align:right !important">S/ @Model.Total</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Floating Action Button -->
        <div class="fixed-action-btn noprint" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large" onclick="window.print();">
                <i class="material-icons">print</i>
            </a>
        </div>
        <!-- Floating Action Button -->
    </div>

    <script type="~/text/javascript" src="vendors/jquery-3.2.1.min.js"></script>
    <script type="~/text/javascript" src="js/materialize.min.js"></script>

</body>

</html>