<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Ventas | Yari</title>
    <!-- Favicons-->
    <link rel="icon" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/images/favicon/apple-touch-icon-152x152.png">
    <!-- CORE CSS-->
    <link href="~/css/themes/fixed-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="~/css/themes/fixed-menu/style.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="~/css/custom/custom.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="~/css/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="~/vendors/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li>
                            <h1 class="logo-wrapper">
                                <a href="@Url.Action("Index","Home")" class="brand-logo darken-1">
                                    <img src="~/images/logo/materialize-logo.png" alt="materialize logo">
                                    <span class="logo-text hide-on-med-and-down">YARI</span>
                                </a>
                            </h1>
                        </li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                                <i class="material-icons">settings_overscan</i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                                <span class="avatar-status avatar-online">
                                    <img src="~/images/avatar/avatar-7.png" alt="avatar">
                                    <i></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!-- profile-dropdown -->
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li>
                            <span class="new badge blue" style="width: 100%;height: 100%" data-badge-caption="Administrador">
                                richard.zapata@gmail.com <br>
                            </span>
                        </li>
                        <li>
                            <a href="login.html" class="grey-text text-darken-1">
                                <i class="material-icons">keyboard_tab</i>Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="~/images/avatar/avatar-7.png" alt="" class="circle responsive-img valign profile-image cyan">
                            </div>
                            <div class="col col s8 m8 l8">
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#">
                                    Richard Zapata<i class="mdi-navigation-arrow-drop-down right"></i>
                                </a>
                                <p class="user-roal">Administrador</p>
                            </div>
                        </div>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li class="bold">
                                <a href="@Url.Action("Index","Home")" class="waves-effect waves-cyan">
                                    <i class="material-icons">dashboard</i>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">account_box</i>
                                    <span class="nav-text">Almacen</span>
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("Index","Articulo")">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Articulo</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">account_box</i>
                                    <span class="nav-text">Seguridad</span>
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="dashboard-ecommerce.html">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Usuarios</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index-2.html">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Roles</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="login.html" target="_blank">
                            <i class="material-icons">keyboard_tab</i>
                            <span class="nav-text">Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
                    <i class="material-icons">menu</i>
                </a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                @RenderBody()
            </section>
            <!-- END CONTENT -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>
                    Copyright ©
                    <script type="text/javascript">document.write(new Date().getFullYear());</script>
                    <a class="grey-text text-lighten-2" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent"
                       target="_blank">CODEA PERU</a>
                </span>
                <span class="right hide-on-small-only">
                    Elaborado por <a class="grey-text text-lighten-2" href="https://pixinvent.com/">
                        YARI
                    </a>
                </span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ======Scripts============== -->
    <!-- jQuery Library -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/vue"></script>*@
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="~/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/vendors/jquery.numeric.js"></script>
    <script src="~/vendors/jquery.autocomplete.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/scripts/advanced-ui-modals.js"></script>
    <script src="~/vendors/sweetalert2/sweetalert2.min.js"></script>

    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="~/js/custom-script.js"></script>
    <script src="~/vendors/moment.min.js"></script>
    @*<script src="~/js/ini.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
